<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvvm.databinding">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application>
        <activity android:name=".view.DataBindingListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".view.BasicDataBindingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>